@import "/src/assets/styles/mixins.scss";

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.inputWrapper {
  position: relative;
  width: 50%;
  margin-bottom: 18px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $kakraz;
  outline: 0;
  font-size: 1rem;
  color: $gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 8px;
  }
}

.form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 0.6rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 4px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
