* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

:root {
  --main: #f15a24;
  --secondary: #29abe2;
  --secondary: #29abe2;
  --dark: #5c5d60;
  --bgDark: rgb(44, 18, 18);
  --bg: #f9dec642;
  --white: #eeeeee;
}
